.App {
  font-family: sans-serif;
  text-align: center;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    90deg,
    rgb(127, 7, 138) 0%,
    rgba(33, 16, 65, 0.363) 50%,
    rgb(40, 3, 126) 100%
  );
}

form {
  padding-top: 2rem;
}

.section-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 5rem;
  border-top: 1px green solid;
}

.artist-card {
  margin: 10px;
  border: solid rgb(33, 27, 119) 2px;
  width: 16rem;
  height: auto;
  max-height: 20rem;
  background-color: antiquewhite;
}

img {
  height: 220px;
  width: 252px;
}

p {
  max-width: 20rem;
}

.fa-search:before {
  content: "\1F50D";
  background-color: none;
}

.searchArtist:hover {
  border-color: silver;
}
.searchArtist:focus {
  border-color: black;
  outline: none;
}

input {
  width: 20rem;
  height: 2rem;
  border-radius: 18px;
}

.loading {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
